/* You can add global styles to this file, and also import other style files */

html, body { height: max-content; }
body { margin: 1em; font-family: Roboto, "Helvetica Neue", sans-serif; }

span {
  &.project--member {
    &:not(:first-child) {
      ::before {
        content: ', ';
      }
    }

    cursor: pointer;

    &:hover {
      text-shadow: #0a53be 1px 1px 1px;
    }
  }
}
